@import 'variables';

#wpadminbar {
    display: none !important;
}

body{
  position:relative;
  font-size:16px;
  font-family:$base;
  font-weight:400;
  line-height:1;
}

img{
  display: block;
  width:100%;
  height:auto;
}

.screenReader{
  display: none;
}

hr{
  border:0;
  border-top:1px solid #eee;
  margin:35px 0;
}

.material-symbols-outlined.wifi{

  &.connected{
    color:lighten($success, 20%);
  }

  &.disconnected{
    color:$error;
  }
}