@import 'variables';

/*
2.479rem/39.67px
2.323rem/37.18px
2.178rem/34.84px
2.041rem/32.65px
1.913rem/30.60px
1.793rem/28.68px
1.68rem /26.88px
1.575rem/25.19px
1.476rem/23.61px
1.383rem/22.13px
1.296rem/20.74px
1.215rem/19.44px
1.138rem/18.22px
1.067rem/17.07px
1rem    /16.00px
0.937rem/15.00px
0.878rem/14.05px
0.823rem/13.17px
0.772rem/12.34px
0.723rem/11.57px
0.678rem/10.84px
*/

li,
a,
a:visited
p{
  color:inherit;
  line-height:inherit;
  font-weight:inherit;
  font-family:inherit;
}

p{
  margin:0;
  color:#444;
  font-size:.875rem;
  line-height:20px;

  .hero &{
    font-size:1.215rem;
    line-height:30px;
  }

  .subFooter &{
    margin-bottom:0;
  }

  .mainContent &,
  .introBlock &{
    margin-bottom:21px;
  }

  .pageBody section header &{
    font-size:.75rem;
    margin-top:5px;
    font-weight:100;
    line-height:1.12;
  }

  @media only screen and (min-width:768px){
    
    .hero &{
      font-size:1.476rem;
      line-height:30px;
    }
  }
}

a,
a:visited{
  transition:color .5s ease;

  &:not(.btn):hover{
    color:darken($magenta, 20%);
  }

  .pageBody &{
    color:$magenta;

  }
}

small{
  font-size:.585rem;
  color:darken($gray, 20%);

  .currentRestaurant &{
    color:$cornflower;

    &:hover{
      color:$violet
    }
  }
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:600;
  line-height:1;
  display: inline-block;
  width:auto;
}


h1{

  .basicHero &{
    font-size:2.8rem;
    line-height:48px;
  }

  .pageHeader &{
    font-size:24px;
  }
}

h2{
  font-size:2.5rem;
  line-height:46px;
}

h3{

}

h4{

}

h5{

}

h6{

}
